.ui-grid{
  border-collapse: collapse;
  margin-bottom: 1em;
}
.ui-grid td,
.ui-grid th{
  border: 1px solid #000;
  padding: 0 3px;
  text-align: center;
  padding: 5px;
  height: 1.5em;
  line-height: 1.5em;
}

.ui-grid thead th{
  text-align: center;
  font-size: 1.1em;
}
.ui-grid-date td{
  padding-left: 50px;
  font-size: 1.1em;
  text-align: left;
}
.ui-grid-item td{
  font-weight: bold;
}
.ui-grid-design td{
  background: #CB9CFC;
}
.ui-grid-footer td{
  text-align: left;
  padding-left: 1em;
}

.ui-grid td{
  height: 1.5em;
  line-height: 1.5em;
}
.ui-grid .grid-editable-td input{
  text-align: center;
}