
.ui-layout-widget
{
    position: fixed;
    z-index: 9999;

    min-width: 200px;

    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    box-shadow: 2px 2px 5px #666;
}

.ui-layout-container
{
    margin: 20px;
}

.ui-layout-close
{
    font-size: 14px;
    line-height: 20px;

    position: absolute;
    top: -10px;
    right: -10px;

    width: 20px;
    height: 20px;

    cursor: pointer;
    text-align: center;

    color: #333;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #fff;
    box-shadow: 1px 1px 5px #666;
}


.ui-layout-modal
{
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: .5;
    background: #ccc;
}

.ui-layout-buttons
{
    padding: 5px 10px;

    text-align: right;

    border-radius: 0 0 5px 5px;
    background: #eee;
}

.ui-layout-buttons button
{
    padding: .3em 1em;

    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    background: #fff;
}

.ui-layout-buttons button:active
{
    color: #fff;
    background: #369;
}

.ui-layout-title{
    padding: 10px;

    text-align: center;

    border-radius: 5px 5px 0 0;
    background: #eee;

    font-weight: bold;
    font-size: 1.1em;
}